.plantsList{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.plantsList__grid{
    display:grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    gap: 50px;
}

@media (max-width: 900px) {
    .plantsList__grid {
        grid-template-columns: 1fr; 
    }
}